
<nav class="navbar navbar-expand navbar-light base-bg topbar mb-4 static-top shadow ">

<!-- Topbar Search -->
<form
class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search  bg-color">
<div class="input-group" >
    <input type="text" class="form-control  border-0 small"  placeholder="Search for a menu item"
        aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append rounded" >
        <button class="btn  bg-color"  type="button"  style="border-radius: 15%;" >
            <i class="fas fa-search fa-sm  " style="color: white;" ></i>
        </button>
    </div>
</div>
</form>