hungryStudentProject/customadmin/__pycache__/
hungryStudentProject/hungryStudentProject/__pycache__/
hungryStudentProject/restaurants/__pycache__/
hungryStudentProject/restaurants/migrations/__pycache__/
hungryStudentProject/users/__pycache__/
hungryStudentProject/users/migrations/__pycache__/
hungryStudentProject/db.sqlite3