{% extends 'user_base3.html' %}
{% load static %}
{% block content %}
<div class="container w-50 bg-light text-center p-5 m-5" style="border-radius:1%;">
    
    <h1 style="font-family: Brush Script MT, Brush Script Std, cursive;">Starters</h1>
    <hr/>
    {% for menu_item in menu_items.restaurant_food_bridge_set.all %}
   
        {% if menu_item.Food_ID.Category == "Starter" %}
        <div class="row p-2 " style="background-color: aliceblue;">
            <div class="col-2">{% if menu_item.Food_ID.Image %}
                <img src='{{menu_item.Food_ID.Image.url}}' class="float-right" style="width: 100px;height:100px;border-radius: 10%;">
                {% endif %}
            </div>
            <div class="col">
                <h4 class='' style="font-weight: bold;text-align: center;">
                    {{menu_item.Food_ID.Food_Name}}</h4>
                    <i class=
                    'float-left' style="font-size:large ;">{{menu_item.Food_ID.Description}}</i>
                    
                    <br>
                    <br>
                    <br> <br>
            </div>
        </div>
        
            <br>
        {% endif %}
    {% endfor %}
    <h1 style="font-family: Brush Script MT, Brush Script Std, cursive;">Main course</h1>
    <hr/>
    {% for menu_item in menu_items.restaurant_food_bridge_set.all %}
        {% if menu_item.Food_ID.Category == "Main course" %}
        <div class="row p-2 " style="background-color: aliceblue;">
            <div class="col-2">{% if menu_item.Food_ID.Image %}
                <img src='{{menu_item.Food_ID.Image.url}}' class="float-right" style="width: 100px;height:100px;border-radius: 10%;">
                {% endif %}
            </div>
            <div class="col">
                <h4 class='' style="font-weight: bold;text-align: center;">
                    {{menu_item.Food_ID.Food_Name}}</h4>
                    <i class=
                    'float-left' style="font-size:large ;">{{menu_item.Food_ID.Description}}</i>
                    
                    <br>
                    <br>
                    <br> <br>
            </div>
        </div>
        
            <br>
        {% endif %}
    {% endfor %}
    <h1 style="font-family: Brush Script MT, Brush Script Std, cursive;">Desserts</h1>
    <hr/>
    {% for menu_item in menu_items.restaurant_food_bridge_set.all %}
        {% if menu_item.Food_ID.Category == "Dessert" %}
        <div class="row p-2 " style="background-color: aliceblue;">
            <div class="col-2">{% if menu_item.Food_ID.Image %}
                <img src='{{menu_item.Food_ID.Image.url}}' class="float-right" style="width: 100px;height:100px;border-radius: 10%;">
                {% endif %}
            </div>
            <div class="col">
                <h4 class='' style="font-weight: bold;text-align: center;">
                    {{menu_item.Food_ID.Food_Name}}</h4>
                    <i class=
                    'float-left' style="font-size:large ;">{{menu_item.Food_ID.Description}}</i>
                    
                    <br>
                    <br>
                    <br> <br>
            </div>
        </div>
        
            <br>
        {% endif %}
    {% endfor %}
    <h1 style="font-family: Brush Script MT, Brush Script Std, cursive;">Beverages</h1>
    <hr/>
    {% for menu_item in menu_items.restaurant_food_bridge_set.all %}
        {% if menu_item.Food_ID.Category == "Beverages" %}
        <div class="row p-2 " style="background-color: aliceblue;">
            <div class="col-2">{% if menu_item.Food_ID.Image %}
                <img src='{{menu_item.Food_ID.Image.url}}' class="float-right" style="width: 100px;height:100px;border-radius: 10%;">
                {% endif %}
            </div>
            <div class="col">
                <h4 class='' style="font-weight: bold;text-align: center;">
                    {{menu_item.Food_ID.Food_Name}}</h4>
                    <i class=
                    'float-left' style="font-size:large ;">{{menu_item.Food_ID.Description}}</i>
                    
                    <br>
                    <br>
                    <br> <br>
            </div>
        </div>
        
            <br>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}