{% extends 'user_base3.html' %}
{% load static %}
{% block content %}
<div>  
    <div class="row m-1">
    {% for i in rest %} 
    <div class="card m-1" style="width: 18rem;">
        {% if i.image %}
        <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" height="200px" width="50 px">
        {% else %}
        <img class="card-img-top text-center " src="{% static 'img/default_rest_profile.jpeg' %}" alt="No image added"  style="width: 250px;height:250px;border-radius: 100%;opacity: 0.8 ;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.location}}</p>
          <a href="{% url 'orderMenu' i.rest_id %}" class="btn btn-primary">Order</a>
        </div>
      </div>
    {% endfor %}
    </div>
       

      
</div>
{% endblock content %}