{% extends 'rest_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-3">

    <div class="row m-auto py-3" style="color:#7b3f00">
        <div class="col-5">
            <div class="container-fluid p-3 shadow border border-4 " style="background-color:#ffefd6">
                <div class="text-center"><b>Add item</b></div>
                <hr />
                <hr />
                <div>
                    <form class="user form-inline" action="{% url 'addMenu' rest_id  %}" method="POST"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="rest_id" id="rest_id" value="{{ rest_id }}">
                        <label for="Food_Name" class="form-label m-1">Item Name*</label>
                        <input type="text" id="Food_Name" name="food_name" ,class="form-control m-1" required>

                        <label for="Category" class="form-label m-1 ">Choose a category</label>
                        <select name="food_category" class="form-control m-1" id="Category">
                            <option value="Starter">Starter</option>
                            <option value="Main course">Main course</option>
                            <option value="Dessert">Dessert</option>
                            <option value="Beverages">Beverages</option>
                        </select>
                        <br>
                        <label for="Description" class="form-text m-1">Description</label>
                        <input type="textarea" id="Description" name="description" class="form-control m-1">

                        <label for="Price" class="form-text m-1">Price*</label>
                        <input type="number" name="price" inputmode="numeric" id="Price" class="form-control m-1"
                            required>

                        <div class="input-group mb-3">
                            <input class="form-control" name="image" id="Image">
                            <label class="input-group-text" for="Image">Upload Image</label>
                        </div>

                        <div class="text-center">
                            <button class="input-group-text" style="color:white;background-color:#6E040F" type="submit">
                                Save
                            </button>
                        </div>

                    </form>
                    <hr />
                    <p class="small"><i>Fields marked * are mandatory</i></p>

                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="container-fluid p-3 shadow border border-4" style="background-color:#ffefd6">
                <b>Today's Menu</b>
                <hr />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for menu_item in menu_items.restaurant_food_bridge_set.all %}
                            <tr>
                                <th scope="row fw_bold">{{ menu_item.Food_ID.Food_Name }}</th>
                                <td class="row-sm">
                                    {% if menu_item.Food_ID.Description %}
                                        <em>{{ menu_item.Food_ID.Description|safe }}</em>
                                    {% else %}
                                        <div class="text-muted small">
                                            No description added
                                        </div>
                                    {% endif %}</br>
                                    {% if menu_item.Image %}
                                        <div class="mt-2 mb-3">
                                        {{ menu_item.Image }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if menu_item.Price %}
                                        
                                        {{ menu_item.Price }}
                                       
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{#% url 'edit-menu' menu_item.id %#}">
                                        <i class="fa-solid fa-pen float-end p-1 " style="color: #a46269;"></i>
                                    </a>
                                    <!-- uuid gives more security, look at the url after clicking edit, it has random number strings in the url  -->
                                    <i class="fa-solid fa-square-check float-end p-1 btn" id="check-{{forloop.counter}}"
                                        onclick="task_done('{{forloop.counter}}')" style="color: #555a62;"></i>
                
                                    <a href="{#% url 'delete-item' menu_item.id %#}">
                                        <i class="fa-solid fa-trash-can float-end p-1" style="color: #a46269;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}