{% extends 'base.html' %}
<form>
    <legend for="item" class="form-label">Item Name</legend>
    <input type="text" class="form-control" value="Name" required>
    <legend for="description" class="form-text">description</legend>
    <input type="textarea" value="Description" class="form-control">
    <legend for="price"></legend>
    <input type="number" inputmode="numeric" value="price" required class="form-control">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Starter" value="Starter" checked>
        <label class="form-check-label" for="Starter">Starter</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Main Course" value="Main">
        <label class="form-check-label" for="Main Course">Main Course</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Dessert" value="Dessert">
        <label class="form-check-label" for="Dessert">Dessert</label>
    </div>
    <button value="Add-item" onclick="reveal()" id="Add-item">+</button>
    <label class="form-label" for="Add-item"></label>



</form>