{% extends 'base.html' %}

{% block content %}
    {% include 'RestaurantTemp\partials\restNavbar.html' %}
    
    <!-- has all options in boxes -->
    <div class="container justify-content-sm-center">

        <div class="row "> 
            <div class="col-sm-4 popup"> <!-- box1-->
                <div class="faAd my-3 mx-4 border">
                    <a href='{% url "addMenu" %}' class="links link-underline link-underline-opacity-0">
                        <i class="fa-solid fa-utensils fa-5x " style="color: #4d3400;"></i>
                        <p class="p-1"><b>What's cooking?</b></p>
                        <p class="text-muted" style="font-size: medium;">Add/View today's menu</p>
                    </a>   
                </div>
            </div>

            <div class="col-sm-4  popup"> <!-- box2-->
                <div class="my-3 mx-4 border faAd ">
                    <a href='{% url "addMenu" %}' class="links link-underline link-underline-opacity-0">
                        <i class="fa-regular fa-bell fa-5x " style="color: #4d3400;"></i>
                        <p class="p-1"><b>View orders</b></p>
                    </a>
                </div>
            </div>

            <div class="col-sm-4  popup "><!-- box3-->
                <div class="p-3 faAd">
                    <a class="links link-underline link-underline-opacity-0" href='{% url "addMenu" %}' >
                        <i class="fa-solid fa-chart-line fa-5x " style="color: #4d3400;"></i>
                        <p class="p-2 "><b>View trends</b></p>
                    
                        <p class="text-muted " style="font-size: medium;">Lorem ipsum dolor</p></a>
                    
                    
                </div>
            </div>


        </div>

        <div class="row g-3">
            <div class="col-sm-4 popup"> <!-- box4-->
                <div class="p-2 faAd">
                    <a href='{% url "addMenu" %}' class="links link-underline link-underline-opacity-0">
                        <i class="fa-regular fa-bell fa-5x" style="color: #4d3400;"></i>
                    </a>
                    <p class="p-1"><b>View orders</b></p>
                </div>
            </div> 
        </div>

    </div>
{% endblock content %}