{% extends 'rest_base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-end m-5">
  <div class="btn-group btn-group-toggle " data-toggle="buttons">
    <label class="btn btn-outline btn-toggle active text-light base-bg" style="border-radius:5%;">
      <input type="radio" name="options" id="today_order" style="border-radius:5%;" autocomplete="off" checked>Today's
      Orders
    </label>
    <label class="btn btn-outline btn-toggle text-light">
      <input type="radio" name="options" id="all_order" style="border-color: #201607; border-radius: 5%;"
        autocomplete="off"> All orders
    </label>
  </div>
</div>

<div class="container-fluid m-3 rounded-3 p-0" style="background-color: white;">
  <table class="table table-striped rounded-3">
    <thead class="rounded-3">
      <tr class="rounded-3 bg-color text-light">
        <th scope="col-sm-1 p-5">#</th>
        <th scope="col-sm-2">Customer Name</th>
        <th scope="col-sm-2">Order Date</th>
        <th scope="col-sm-6 text-wrap">Items</th>
        <th scope="col-sm-2">Total Price</th>
        <th scope="col-sm-2">Service Status</th>

      </tr>
    </thead>

    {% for order in orders %}

    <tbody class="rounded-3 text-color">
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{order.Customer_ID.User_ID.first_name}} {{order.Customer_ID.User_ID.last_name}}
        </td>
        <td>{{order.Timestamp}}</td>
        <!-- create a dropdown here so that when clicked, you can see item details and quantities -->
        <td>
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-expanded="false">Click Here</button>
          <div class="dropdown-menu">
            
            <table class="table rounded-3">
              <thead class="rounded-3">
                <tr class="rounded-3  text-color">
                  <th scope="col-sm-1 ">Item</th>
                  <th scope="col-sm-1">Quantity</th>
                </tr>
              </thead>
              <tbody class="rounded-3 text-color">
                {% for item in order.order_items_set.all %}
                <tr>
                  <td>{{item.Food_ID.Food_Name}}
                    
                  </td>
                  <td>{{item.Quantity}}</td>
                  <!-- create a dropdown here so that when clicked, you can see item details and quantities -->
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
        </td>
        <td>{{order.Total_Price}}</td>
        <td>
          <!-- restaurants can only modify status to accept or decline,so they only get those options in dropdown -->
          {% if order.Order_Status == 'Processing' %}
          
          <span class="badge badge-pill badge-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-expanded="false">{{order.Order_Status}}</span>
          <div class="dropdown-menu">
            <a class="dropdown-item" name="Accepted" href="{% url 'accept' order.Order_Id %}"><span
                class="badge badge-pill badge-info">Accept</span></a>
            <a class="dropdown-item" name="Declined" href="{% url 'decline' order.Order_Id %}"><span
                class="badge badge-pill badge-danger">Decline</span></a>
          </div>
          {% elif order.Order_Status == 'Accepted' %}
          <span class="badge badge-pill badge-info">{{order.Order_Status}}</span>
          {% elif order.Order_Status == 'Declined' %}
          <span class="badge badge-pill badge-danger">{{order.Order_Status}}</span>
          {% elif order.Order_Status == 'Complete' %}
          <span class="badge badge-pill badge-success">{{order.Order_Status}}</span>
          {% else %}
          <span class="badge badge-pill badge-dark">{{order.Order_Status}}</span>
          {% endif %}

        </td>



      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>


{% endblock content %}